/* Grundlegendes Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Dunkles Königs-Lila */
  color: #ffffff;
}

header {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  text-align: right;
  padding: 20px;
  background: linear-gradient(to right, black, #22003e);
}
footer {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  text-align: left;
  padding: 20px;
  background: linear-gradient(to right, #fdb430, black);
  color: black;
}

a {
  color: #ffa500;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ffffff;
}

.highlight {
  font-family: monospace;
  color: #fdb430;
  font-size: 1.5em;
  transform: rotate(5deg);
}
h1 {
  margin: 0;
}

/* Galerie-Layout */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.gallery-item {
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

/* Bilder in der Galerie */
.gallery-item img {
  max-width: 300px;
  border: 2px solid transparent;
  transition: border 0.2s, transform 0.2s, box-shadow 0.2s;
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Schatten */
}

.gallery-item h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  margin: 10px 0 0 0;
}

/* Hover-Effekt */
.gallery-item:hover img {
  border: 2px solid orange;
  transform: rotate(5deg);
  box-shadow: 0 8px 12px rgba(255, 165, 0, 0.5); /* Verstärkter Schatten beim Hover */
}

/* Modal */
.modal {
  display: none; /* Versteckt das Modal standardmäßig */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal wird angezeigt */
.modal.show {
  display: flex; /* Macht das Modal sichtbar und wendet Flex-Layout an */
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background-color: black;
  padding: 20px;
  border: 2px solid #fdb430;
  border-radius: 10px;
  width: 90%;
  max-width: 800px; /* Maximale Breite des Modals */
  color: #ffffff;
  position: relative;
  overflow: auto; /* Ermöglicht Scrollen bei Bedarf */
  max-height: 90vh; /* Überschreitet nicht 90% der Viewport-Höhe */
  box-sizing: border-box;
}

.close-button {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

#modal-artist {
  color: #fdb430;
}

/* Container für das Bild und den Button im Modal */
.modal-image-container {
  position: relative;
  flex: 1;
  min-width: 300px;
}

/* Bild im Modal */
.modal-image-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 60vh;
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Schatten */
}

/* 'MARKET'-Button */
#market-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: orange;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

#market-button:hover {
  opacity: 1;
}

/* Modal Info */
.modal-info {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

.modal-info h2 {
  font-size: 1.8em;
  margin-top: 0;
}

.modal-info p {
  font-size: 1em;
  margin: 10px 0;
}

.modal-info .social-links,
.modal-info .marketplaces {
  margin-top: 20px;
}

.social-links a,
.marketplaces a {
  display: inline-block;
  margin-right: 10px;
}

.social-links img,
.marketplaces img {
  width: 32px;
  height: 32px;
}

/* Responsives Design */
@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
  }

  .modal-info {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .gallery-item img {
    max-width: 150px;
  }

  .modal-content {
    width: 95%;
  }
}
